@using Microsoft.AspNet.Identity
@using TrashCollector.Models
@model TrashCollector.Models.Profile

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile for @User.Identity.GetUserName()</h2>
@if (Model.Addresses.Count>0)
{
    <h3>My Addresses</h3>
    var count = 1;
foreach (var address in Model.Addresses)
{
        <h4>Address @count</h4>
        <p>@address.StreetOne</p>
        <p>@address.StreetTwo</p>
        <p>@address.City.Name, @address.State.Name @address.ZipCode.Number</p>
    }
}
<p>
    @Html.ActionLink("Add Address", "Create", "Address", routeValues: null, htmlAttributes: new { title = "Add Address", @class = "btn btn-primary" })
</p>
