@using Microsoft.AspNet.Identity
@using TrashCollector.Models
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_DashboardNav")

<h3>Manage Users</h3>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { userId = user.Id }, new { @class="btn btn-info btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { userId = user.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }
</table>
